<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.jsekill_project.mapper.SeckillRecordMapper">
<!--基础实体resultMap-->
    <resultMap id="baseSeckillRecord" type="SeckillRecord">
<!--        复合主键-->
        <id property="goodsId" column="seckill_goods_id"></id>
        <id property="groupId" column="group_id"></id>
        <id property="userId" column="user_id"></id>
        <result property="seckillTime" column="seckill_time"></result>
    </resultMap>
<!--
 //添加秒杀记录
    int insertSeckillRecord(@Param("seckillRecord") SeckillRecord seckillRecord);
-->
    <insert id="insertSeckillRecord">
        INSERT INTO seckill_record(seckill_goods_id,group_id,user_id,seckill_time)
        VALUES
        (#{seckillRecord.goodsId},#{seckillRecord.groupId},#{seckillRecord.userId},#{seckillRecord.seckillTime})
    </insert>
<!--
   //查询秒杀记录
    SeckillRecord querySeckillRecord(@Param("seckillRecordKey") SeckillRecordKey seckillRecordKey);

-->
    <select id="querySeckillRecord" resultMap="baseSeckillRecord">
        select * from  seckill_record WHERE seckill_goods_id=#{seckillRecordKey.goodsId} AND user_id=#{seckillRecordKey.userId} AND group_id=#{seckillRecordKey.groupId};
    </select>

<!--

  //删除秒杀记录
    int deleteseckillRecordById(@Param("seckillRecordKey") SeckillRecordKey seckillRecordKey);
-->
    <delete id="deleteseckillRecordById">
        DELETE FROM seckill_record WHERE seckill_goods_id=#{seckillRecordKey.goodsId} AND user_id=#{seckillRecordKey.userId} AND group_id=#{seckillRecordKey.groupId};
    </delete>

<!--

  //更新秒杀记录
    int updateSeckillRecord(@Param("seckillRecord") SeckillRecord seckillRecord );
-->
    <update id="updateSeckillRecord">
        UPDATE seckill_record SET seckill_time=#{seckillRecord.seckillTime} WHERE seckill_goods_id=#{seckillRecord.goodsId} AND user_id=#{seckillRecord.userId} AND group_id=#{seckillRecord.groupId};
    </update>
</mapper>
