<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>重置秒杀时间</title>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!--jQuery 和 Bootstrap 集成包（集成了 Popper） -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" th:src="@{/js/jquery.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" ></script>

</head>
<body>
<div class="container mt-5">
    <h1>设置秒杀的日期</h1>

    <div class="form-group">
        <label for="datepicker">Select a date: </label>
        <input type="text" class="form-control" id="datepicker">
    </div>

</div>
<script>
    // 初始化日期选择器
    $(document).ready(function(){
        $('#datepicker').datepicker();
    });
</script>
</body>
</html>